{% extends "base.html" %}

{% block body %}

  <h1> Matplotlib Style Gallery </h1>

  <p>
    This gallery compares stylesheets defined in Matplotlib.
  </p>

  <p>
    You can also compare a custom stylesheet from a URL, or one defined
    explicitly by
    <a href="http://matplotlib.org/users/customizing.html">
        matplotlibrc parameters</a>,
    in the text area below:
  </p>

  <form action="." method="POST">
    <textarea name="input-stylesheet" rows="5" cols="50"
              placeholder="Stylesheet URL or style key-value pairs"
        >{{ input_stylesheet }}</textarea>
    <br/>
    <input type="submit"
           name="stylesheet-form"
           value="Add stylesheet"
           onclick="var spinner = new Spinner({}).spin(document.body);">
  </form>

  {% if input_status %}
    <div class='input-error'>
        <h2>Error reading stylesheet:</h2>
        <p> {{ input_status }} </p>
    </div>
  {% endif %}

  <table id='gallery'>
    <thead>
      <tr>
        <th>Style</th>

        {% for name in column_headers %}
          <th> {{ name }} </th>
        {% endfor %}

      </tr>
    </thead>

    <tbody>
      {% for label, cells in gallery_table %}
        <tr>
          <td> {{ label }} </td>
          {% for image in cells %}
            <td>
              <a href="{{ image.url }}">
                <img src={{ image.thumbnail }} alt={{ image.alt }}J>
              </a>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>

  </table>

  <script src="static/js/spin.min.js"></script>

{% endblock %}
