{% extends "base.html" %}

{% block body %}

  <h1> Matplotlib Style Gallery </h1>

  <form action="." method="POST">
    <input type="text" name="input-stylesheet">
    <input type="submit" name="stylesheet-form" value="Send">
  </form>

  <p> {{ input_status }} </p>

  <table>
    <thead>
      <tr>
        <th>Style</th>

        {% for name in column_headers %}
          <th> {{ name }} </th>
        {% endfor %}

      </tr>
    </thead>

    <tbody>
      {% for label, cells in gallery_table %}
        <tr>
          <td> {{ label }} </td>
          {% for image in cells %}
            <td>
              <a href="{{ image.url }}">
                <img src={{ image.thumbnail }} alt={{ image.alt }}J>
              </a>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
