<table id='gallery'>

  <thead>
    <tr>
      <th>Style</th>

      {% for name in column_headers %}
        <th> {{ name }} </th>
      {% endfor %}

    </tr>
  </thead>

  <tbody>

    {% for style, cells in gallery_table %}
      <tr>
        <td> {{ style }} </td>

        {% for image in cells %}
          <td>
            <a class="lightbox-viewable" href="{{ image.url }}">
              <img src="{{ image.thumbnail }}"
                   alt="{{ image.alt }}"
                   data-style="{{ style }}"/>
            </a>
          </td>
        {% endfor %}

      </tr>
    {% endfor %}

  </tbody>

</table>
